{%  extends "layout.html" %}

{% block title %}
{% endblock %}

{% block liHome %}secondary{% endblock %}
{% block liTabelas %}secondary{% endblock %}
{% block liFaturas %}secondary{% endblock %}
{% block liGraficos %}white{% endblock %}

{% block link_css %}
    <link rel="stylesheet" href="{{url_for('webui.static', filename='css/graficos.css')}}">
{% endblock %}

{% block main %}
<div id="containerGraf" class="container-fluid p-lg-4 h-100 d-flex flex-column">
    <div class="card border-o shadow-sm flex-grow-1">
        <div class="card-header bg-white border-bottom py-2 px-lg-5 d-flex flex-wrap justify-content-start align-items-center gap-2">
            <button class="btn btn-outline-primary rounded-circle shadow-sm me-3" style="width: 40px; height: 40px; font-size: 0.85rem;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" title="Selecionar Gráfico"><i class="bi bi-bar-chart-line-fill"></i></button>
            <h5 id="tituloGrafico" class="text-secondary fw-bold mt-auto">Gráficos</h5>
            <div id="divPatrimonio" class="ms-auto d-none">
                <div class="dropdown">
                    <button class="btn dropdown-toggle text-truncate" type="button" id="btnDropDownPatrimonio" data-bs-toggle="dropdown" aria-expanded="false">
                        Selecionar ano...
                    </button>
                    <ul id="dropDownPatrimonio" class="dropdown-menu" aria-labelledby="btnDropDownPatrimonio">
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body w-100 p-2 overflow-hidden d-flex flex-column">
            <!-- Wrapper que permite a rolagem horizontal no mobile -->
            <div class="w-100 h-100" style="overflow-x: auto; overflow-y: hidden;">
                <!-- Note o ID 'chartWrapper' adicionado aqui para controle via JS -->
                 <div id="placeholder" class="col-12 bg-white h-100 d-flex align-items-center">
                    <h4 class="text-center col-12 text-secondary fw-bold">Selecione um gráfico pelo botão de filtro acima.</h4>
                 </div>
                <div id="chartWrapper" class="chart-container d-none" style="position: relative; height: 100%; min-height: 300px;">
                    <canvas id="graf" class="rounded-3"></canvas> 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title fw-bold text-primary" id="offcanvasLabel">Gráficos Disponíveis</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div id="menu" class="col-12">
        <ul class="nav flex-column mt-3">
            <li class="flex-item">
                <a id="btnPatrimonio" data-url="{{ url_for('graficos.get_patrimonio') }}" href="#" class="nav-link text-center text-dark py-4 menu-item">
                    <h5 class="mb-0">Patrimônio Líquido</h5>
                </a>
            </li>
            <li class="flex-item">
                <a id="btnInOut" href="#" class="nav-link text-center text-dark py-4 menu-item">
                    <h5 class="mb-0">Entradas/Saídas</h5>
                </a>
            </li>
            <li class="flex-item">
                <a id="btnCredito" href="#" class="nav-link text-center text-dark py-4 menu-item">
                    <h5 class="mb-0">Cartão de Crédito</h5>
                </a>
            </li>
            <li class="flex-item">
                <a id="btnFaturas" href="#" class="nav-link text-center text-dark py-4 menu-item">
                    <h5 class="mb-0">Faturas</h5>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="module" src="{{url_for('graficos.static', filename='js/grafico_patrimonio.js')}}"></script>
<script type="module" src="{{url_for('webui.static', filename='js/flash_messages.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
{% endblock %}