{%  extends "layout.html" %}

{% block title %}
{% endblock %}

{% block liHome %}white{% endblock %}
{% block liTabelas %}secondary{% endblock %}
{% block liFaturas %}secondary{% endblock %}
{% block liGraficos %}secondary{% endblock %}

{% block link_css %}
    <link rel="stylesheet" href="{{url_for('webui.static', filename='css/index.css')}}">
{% endblock %}

{% block main %}
<div class="d-flex col-12 justify-content-center mb-lg-5">
    <h1 class="">{{ config['TITLE'] }}</h1>
</div>
<div class="mt-5 pt-lg-5 row">
    <div class="col-12 col-md-6 my-3 mt-md-1 my-lg-5 d-flex justify-content-center">
        <a href="#" class="btn btn-xl btn-primary active col-12 col-lg-6 btn-inicio" role="button">Nova Entrada</a>
    </div>
    <div class="col-12 col-md-6 my-3 mt-md-1 my-lg-5 d-flex justify-content-center">
        <a href="#" class="btn btn-xl btn-primary active col-12 col-lg-6 btn-inicio" role="button">Nova Saída</a>
    </div>
    <div class="col-12 col-md-6 my-3 mt-md-1 my-lg-5 d-flex justify-content-center">
        <a href="#" class="btn btn-xl btn-primary active col-12 col-lg-6 btn-inicio" role="button">Novo Saldo</a>
    </div>
    <div class="col-12 col-md-6 my-3 mt-md-1 my-lg-5 d-flex justify-content-center">
        <a href="#" class="btn btn-xl btn-primary active col-12 col-lg-6 btn-inicio" role="button">Nova Fatura</a>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}